@media screen and (max-width: 768px) {
  body {
    width: 100%;
    font-family: Roboto, Times New Roman, Times, serif;
  }

  .header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }
  .header i {
    font-size: 28px;
    position: relative;
    right: 60px;
  }
  .header .size-logo {
    display: flex;
    width: 50%;
    height: 40px;
  }

  .exploration {
    background-color: hsl(0deg, 0%, 96%);
  }
  .exploration .location {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0deg, 0%, 92%);
  }
  .exploration .location i {
    padding-right: 10px;
  }
  .exploration .location p {
    font-weight: 600;
  }
  .exploration .exploration-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .exploration .exploration-content h1 {
    width: 60%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 1000;
    font-size: 20px;
    margin-top: 30px;
  }
  .exploration .exploration-content h2 {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    opacity: 0.6;
  }
  .exploration .exploration-content .exploration-content__btn {
    height: 50px;
    width: 65%;
    border-radius: 24px 24px 24px 24px;
    background: linear-gradient(to top left, #9356dc, #ff79da);
    color: rgb(255, 255, 255);
    border: 0px transparent;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 5px 5px 5px hsl(0deg, 0%, 92%);
  }
  .exploration .exploration-content .exploration-content__btn:hover {
    filter: brightness(1.15);
    cursor: pointer;
    box-shadow: 5px 5px 5px hsl(0deg, 0%, 21%);
  }

  .user-guide {
    width: 92%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .user-guide h2 {
    font-style: bold;
  }
  .user-guide .user-guide__container {
    display: flex;
    flex-direction: column;
  }
  .user-guide .user-guide__container .user-guide__card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: hsl(0deg, 0%, 96%);
    border-radius: 16px 16px 16px 16px;
    box-shadow: 4px 4px 6px hsl(0deg, 0%, 96%);
    border: 0px transparent;
    height: 80px;
  }
  .user-guide .user-guide__container .user-guide__card i {
    font-size: 20px;
    width: 50px;
    color: hsl(0deg, 0%, 21%);
  }
  .user-guide .user-guide__container .user-guide__card:active {
    background-color: hsl(267deg, 100%, 96%);
  }
  .user-guide .user-guide__container .user-guide__card:active i {
    color: #9356dc;
  }
  .user-guide .user-guide__container .user-guide__card .user-guide__number {
    font-size: 20px;
    border: 1px solid;
    border-radius: 25px 25px 25px 25px;
    width: 24px;
    height: 24px;
    position: relative;
    right: 16px;
    color: rgb(255, 255, 255);
    background-color: #9356dc;
  }
  .user-guide .user-guide__container .user-guide__card .user-guide__text {
    font-size: 20px;
    font-style: bold;
    font-weight: 700;
  }

  .restaurant-list {
    width: 100%;
    background-color: hsl(0deg, 0%, 96%);
  }
  .restaurant-list h2 {
    font-style: bold;
    padding-left: 5%;
    padding-top: 30px;
  }

  .restaurant-list-container {
    width: 92%;
    margin: auto;
  }

  .card-restaurant {
    width: 100%;
    height: 230px;
    box-sizing: content-box;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 6px hsl(0deg, 0%, 96%);
    border-radius: 16px 16px 16px 16px;
    margin: auto;
    margin-bottom: 5%;
  }
  .card-restaurant a {
    text-decoration: none;
    color: black;
  }
  .card-restaurant button {
    position: relative;
    bottom: 25%;
    left: 85%;
  }

  .card-restaurant__link-img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
  }

  .card-restaurant__link-content {
    height: 30%;
    padding-left: 10px;
  }
  .card-restaurant__link-content h4 {
    margin-top: -4%;
  }
  .card-restaurant__link-content h5 {
    font-weight: 400;
    margin-top: -4%;
  }

  .card-restaurant__link-new {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 10%;
    position: relative;
    bottom: 65%;
    left: 65%;
    background-color: #99e2d0;
  }
  .card-restaurant__link-new span {
    color: #159375;
  }

  .card-restaurant__link-new-hide {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 25px;
    position: relative;
    bottom: 65%;
    left: 74%;
    background-color: #99e2d0;
  }
  .card-restaurant__link-new-hide span {
    color: #159375;
  }

  .footer {
    background-color: hsl(0deg, 0%, 21%);
    padding: 10px;
  }
  .footer h2 {
    font-size: 16px;
    font-weight: 400;
    font-family: Shrikhand;
    color: rgb(255, 255, 255);
  }
  .footer .footer__container {
    padding-left: 20px;
  }
  .footer ul {
    list-style-type: none;
    padding: 0;
    line-height: 1.5;
  }
  .footer ul a {
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-decoration: none;
    opacity: 1;
  }
  .footer ul a:hover {
    opacity: 0.8;
  }
  .footer i {
    width: 12px;
    margin-right: 10px;
    color: rgb(255, 255, 255);
  }
}

/*# sourceMappingURL=style.css.map */
