// variable :
// color
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$dark-color: hsl(0deg 0% 21%);
$white-color: rgb(255, 255, 255);
$darkgray-color: hsl(0deg 0% 92%);
$lightgray-color: hsl(0deg 0% 96%);
$new-btn-text-color: #159375;

// font-size
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-xlarge: 24px;

// breakpoints-desktop:
$breakpoints-desktop: (
  desktop: 992px,
);
$breakpoints-tablette: (
  tablet: 768px,
);
