@import "./variables";
@import "./_media";

@media screen and (max-width: 767px) {
  body {
    width: 100%;
    font-family: Roboto, Times New Roman, Times, serif;
  }
  .header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white-color;
    i {
      font-size: 28px;
      position: relative;
      right: 60px;
    }
    .size-logo {
      display: flex;
      width: 50%;
      height: 40px;
    }
  }
  //  exploration

  .exploration {
    background-color: $lightgray-color;
    .location {
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $darkgray-color;
      i {
        padding-right: 10px;
      }
    }
    .exploration-content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      h1 {
        width: 60%;
        text-align: center;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        font-size: $font-size-large;
        margin-top: 30px;
      }
      h2 {
        text-align: center;
        align-items: center;
        justify-content: center;
        font-weight: 100;
        font-style: normal;
        font-size: $font-size-large;
      }
      .exploration-content__btn {
        height: 50px;
        width: 65%;
        border-radius: 24px 24px 24px 24px;
        background: linear-gradient(
          to top left,
          $primary-color,
          $secondary-color
        );
        color: $white-color;
        border: 0px transparent;
        margin-top: 30px;
        margin-bottom: 30px;
      }
    }
  }
  // user-guide
  .user-guide {
    width: 92%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    .user-guide__container {
      display: flex;
      flex-direction: column;
      .user-guide__card {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        background-color: $lightgray-color;
        border-radius: 16px 16px 16px 16px;
        box-shadow: 4px 4px 6px $lightgray-color;
        border: 0px transparent;
        height: 80px;
        i {
          font-size: $font-size-large;
          width: 50px;
          color: $dark-color;
        }
        .user-guide__number {
          font-size: $font-size-large;
          border: 1px solid;
          border-radius: 25px 25px 25px 25px;
          width: 24px;
          height: 24px;
          position: relative;
          right: 16px;
          color: $white-color;
          background-color: $primary-color;
        }
        .user-guide__text {
          font-size: $font-size-large;
          font-style: bold;
          font-weight: 700;
        }
      }
    }
  }
  //   restaurant-list
  .restaurant-list {
    width: 100%;
    background-color: $lightgray-color;
    h1 {
      font-style: bold;
      padding-left: 5%;
      padding-top: 30px;
    }
  }
  .restaurant-list-container {
    width: 92%;
    margin: auto;
  }
  .card-restaurant {
    width: 100%;
    height: 230px;
    box-sizing: content-box;
    background-color: $white-color;
    box-shadow: 4px 4px 6px $lightgray-color;
    border-radius: 16px 16px 16px 16px;
    margin: auto;
    margin-bottom: 5%;
    a {
      text-decoration: none;
      color: black;
    }
    button {
      position: relative;
      bottom: 25%;
      left: 85%;
    }
  }
  .card-restaurant__link-img {
    height: 70%;
    width: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
  }
  .card-restaurant__link-content {
    height: 30%;
    padding-left: 10px;
    h4 {
      margin-top: -20px;
    }
    h5 {
      margin-top: -10px;
    }
  }
  .card-restaurant__link-new {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 10%;
    position: relative;
    bottom: 65%;
    left: 65%;
    background-color: $tertiary-color;
    span {
      color: $new-btn-text-color;
    }
  }
  .card-restaurant__link-new-hide {
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 25px;
    position: relative;
    bottom: 65%;
    left: 74%;
    background-color: $tertiary-color;
    span {
      color: $new-btn-text-color;
    }
  }
  // footer
  .footer {
    background-color: $dark-color;
    padding: 10px;
    h2 {
      font-size: $font-size-medium;
      font-weight: 200;
      font-family: Shrikhand;
      color: $white-color;
    }
    .footer__container {
      padding-left: 20px;
    }
    ul {
      list-style-type: none;
      padding: 0;
      line-height: 1.5;
      a {
        color: $white-color;
        text-decoration: none;
        opacity: 1;
        &:hover {
          opacity: 0.8;
        }
      }
    }
    i {
      width: 12px;
      margin-right: 10px;
      color: $white-color;
    }
  }
}
