@keyframes fadein {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes heart-slide {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@keyframes disappear {
  0% {
    transform: scale(1);
  }
  99.99% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes opacity-heart {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 1;
  }
  40% {
    opacity: 0.8;
  }
  60% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
