.loader-section {
  background-color: #159375;
  font-size: $font-size-xlarge;
  font-family: roboto;
  height: 100vh;
  line-height: 500px;
  text-align: center;
  inset: 0;
  z-index: 1;
  position: fixed;
  animation: disappear 1s forwards;
}
.loader-section .loarder {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  border: 6px solid rgba(255, 255, 255, 0.4);
  vertical-align: middle;
  position: relative;
}
.loader-section .loarder::after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: white;
  border-bottom-color: white;
  animation: spin 1s linear 0s infinite;
}
