@keyframes fadein {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    width: 0%;
  }
  100% {
    width: 20%;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes heart-slide {
  from {
    transform-origin: bottom;
    transform: scaley(0);
    opacity: 0.1;
  }
  to {
    transform: scaley(1);
    opacity: 1;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    width: 100%;
    height: 100%;
    font-family: Roboto, Times New Roman, Times, serif;
    background-color: #f5f5f5;
  }
  .header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
  }
  .header a {
    font-size: 28px;
    position: relative;
    right: 33%;
    color: black;
  }
  .header h1 {
    position: relative;
    right: 3%;
    font-weight: 200;
    font-family: Shrikhand;
    font-size: 40px;
  }
  .main .header__img {
    height: 250px;
    width: 100%;
  }
  .main .header__img .header__img-style {
    object-fit: cover;
    height: auto;
    width: 100%;
    height: 100%;
  }
  .menu {
    background-color: #f5f5f5;
    border-radius: 30px 30px 0px 0px;
    position: relative;
    top: -30px;
  }
  .menu .menu__main-title {
    display: flex;
    justify-content: space-between;
    padding: 5% 7% 0% 7%;
  }
  .menu .menu__main-title h2 {
    margin: 0;
    font-weight: 100;
    font-family: Shrikhand;
  }
  .menu .menu__main-title .menu-main-title__btn {
    border: none;
    background-color: #f5f5f5;
    cursor: pointer;
    background-clip: text;
  }
  .menu .menu__main-title .menu-main-title__btn .menu-main-title__btn-icon-fill {
    display: none;
    background-image: linear-gradient(200deg, #9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 24px;
    animation: heart-slide 0.8s;
  }
  .menu .menu__main-title .menu-main-title__btn .menu-main-title__btn-icon-umpty {
    font-size: 24px;
    font-weight: 100;
  }
  .menu .menu__main-title .menu-main-title__btn:hover .menu-main-title__btn-icon-fill {
    display: flex;
  }
  .menu .menu__main-title .menu-main-title__btn:hover .menu-main-title__btn-icon-umpty {
    display: none;
  }
  .menu .menu__title {
    margin-top: 30px;
    height: 40px;
    border-bottom: 2x solid #99e2d0;
  }
  .menu .menu__title h3 {
    margin: 0;
    border-bottom: 3px solid #99e2d0;
    overflow: visible;
    width: 35px;
    height: 26px;
    font-weight: 400;
  }
  .menu .menu__card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 4px 4px 6px #f5f5f5;
    height: 70px;
    justify-content: space-between;
  }
  .menu .menu__card:nth-child(1n) {
    transition: 0.5s;
    animation: fadein 1s;
  }
  .menu .menu__card:nth-child(2n) {
    transition: 0.5s;
    animation: fadein 1.3s;
  }
  .menu .menu__card:nth-child(3n) {
    transition: 0.5s;
    animation: fadein 1.6s;
  }
  .menu .menu__card:nth-child(4n) {
    transition: 0.5s;
    animation: fadein 1.9s;
  }
  .menu .menu__card:last-child {
    margin: 0;
  }
  .menu .menu__card .check-box {
    width: 20%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: #99e2d0;
    border-radius: 0 16px 16px 0;
    animation: slide 0.5s;
  }
  .menu .menu__card .check-box i {
    animation: spin 0.5s;
    font-size: 24px;
    color: #ffffff;
  }
  .menu .menu__card:hover {
    cursor: pointer;
  }
  .menu .menu__card:hover .menu__card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .menu .menu__card:hover .menu__card-price {
    margin: 0;
  }
  .menu .menu__card:hover .check-box {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #99e2d0;
    border-radius: 0 16px 16px 0;
  }
  .menu .menu__card:hover .check-box i {
    font-size: 24px;
    color: #ffffff;
  }
  .menu .menu__card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .menu .menu__card-text h4 {
    font-size: 18px;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    margin: 0;
    padding: 2px;
  }
  .menu .menu__card-text p {
    font-size: 16px;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    padding: 2px;
    margin: 0;
    text-overflow: ellipsis;
  }
  .menu .menu__card-price {
    width: 15%;
  }
  .menu .starter {
    width: 92%;
    margin: auto;
  }
  .menu .dish {
    width: 92%;
    margin: auto;
  }
  .menu .dessert {
    width: 92%;
    margin: auto;
  }
  .section-menu__btn {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
  }
  .section-menu__btn .menu__btn {
    height: 50px;
    width: 30%;
    border-radius: 24px 24px 24px 24px;
    background: linear-gradient(to top left, #9356dc, #ff79da);
    color: #ffffff;
    border: 0px transparent;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .section-menu__btn .menu__btn:hover {
    filter: brightness(1.1);
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 255, 0.2);
  }
  .footer {
    background-color: #363636;
    padding: 10px;
  }
  .footer h2 {
    display: flex;
    justify-content: center;
    font-size: 24px;
    font-weight: 400;
    font-family: Shrikhand;
    color: #ffffff;
  }
  .footer .footer__container {
    padding-left: 20px;
  }
  .footer .footer-ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    line-height: 1.5;
  }
  .footer .footer-ul .footer-ul__li-a {
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    opacity: 1;
  }
  .footer .footer-ul .footer-ul__li-a:hover {
    opacity: 0.8;
  }
  .footer .footer-ul__li-icon {
    width: 12px;
    margin-right: 10px;
    color: #ffffff;
  }
}

/*# sourceMappingURL=menu-style-tablet.css.map */
